/*字体引入*/
@font-face{font-family:'a';src:url(img/a.ttf);}
@font-face{font-family:'b';src:url(img/b.ttf);}
@font-face{font-family:'c';src:url(img/c.ttf);}
/*全局*/
*{font-family:'c';padding:0;margin:0;}
/*整体*/
body{text-align:center;background:#001443 url("img/back.gif") no-repeat 0 250px;background-size:cover;-webkit-user-select:none;}
/*时间*/
.time{top:18%;width:100%;height:40px;font-family:'a';font-size:45px;text-align:center;position:absolute;-webkit-animation:shijian 1.5s;-webkit-background-clip:text;-webkit-text-fill-color:transparent;background-image:-webkit-linear-gradient(left,#888,#888,#135,#153,#888,#888);}
#ttime{background-image:-webkit-linear-gradient(left,#fff,#fff,#4bf,#4fb,#fff,#fff);-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
/*书签历史*/
.q{position:absolute;background:transparent;width:90px;color:transparent;border:none;border-radius:3px;outline:none;padding:5px 0;font-weight:bold;top:18%;z-index:5;}
.q:hover:after{content:attr(msg);position:absolute;top:-50px;left:0;width:90px;font-size:18px;font-weight:bold;border:solid 1px #fff;opacity:0;-webkit-animation:danxian 5s;}
/*书签*/
.sq:hover:after{color:#4af;}
.sq{right:50%;-webkit-animation:shuqian 2s;}
/*历史*/
.ls:hover:after{color:#4fa;}
.ls{left:50%;-webkit-animation:lishi 2s;}
/*内容*/
#content{-webkit-animation:danruDown 1.5s;top:42%;width:100%;position:absolute;text-align:center;}
/*书签*/
.box{-webkit-animation:zhuandong1 1.5s;position:relative;display:inline-table;width:60px;margin:0px;}
/*按键*/
.bq{background:transparent;border:none;outline:none;width:50px;height:50px;position:absolute;left:5px;top:0;z-index:5;}
/*标签*/
.url{-webkit-animation:danruMove2 1.5s;color:#fa3;width:60px;font-size:24px;font-weight:bold;text-overflow:ellipsis;padding:3px 0;background-image:-webkit-linear-gradient(top,#4bf,#fff);-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
/*图标*/
.icon{-webkit-animation:zhuandongtb 1.5s;width:50px;height:50px;}
/*刷新*/
.sx{background:transparent url(img/WQY916.png) no-repeat;border:solid 1px transparent;outline:none;left:75%;top:75%;width:56px;height:42px;position:absolute;-webkit-animation:danruMove3 1.5s;-webkit-touch-callout:none;}
/*搜索*/
/*搜索框*/
.search_bar{-webkit-animation:danruMove4 1.5s;box-shadow:0 0 5px #159;background:#068;border-radius:3px;display:table;top:32%;left:10%;width:80%;height:18px;position:absolute;z-index:10;}
.search_bar span{display:block;font-size:12px;overflow:hidden;padding-left:2px;margin-right:42px;vertical-align:middle;}
.search_bar .si{margin:0 24px 0 12px;}
/*输入框*/
#search_input{width:100%;height:25px;background:transparent;border:none;outline:0;font-size:16px;font-weight:bold;color:#4af;}
/*建议框*/
#suggest{-webkit-animation:shensuo 0.5s;position:absolute;display:none;left:-1px;right:-1px;top:27px;border-radius:3px;font-weight:bold;box-shadow:0 0 5px #159;background:#068;line-height:36px;}
/*建议选项正常*/
#suggest li{color:#4af;list-style-type:none;border-bottom:1px solid #079;text-align:left;padding-left:12px;}
/*建议选项选中*/
#suggest li:active{border-radius:3px;background:#39a;}
/*建议加号按键*/
#suggest li b:before{float:right;text-shadow:0 0 3px #fa2;border-left:1px solid #079;padding:0 20px 0 20px;height:auto;content:'╋';color:#fff;}
/*建议收起按键*/
#suggest .close{float:right;font-weight:bold;color:#fff;padding:0 14px 0 14px;text-shadow:0 0 3px #fa2;border-left:1px solid #079;}
/*搜索提交按键*/
#search_submit{outline:0;height:25px;float:right;color:#fff;font-size:18px;font-weight:500;border:none;text-shadow:0 0 3px #fa2;border-left:1px solid #079;background:transparent;padding:0 13px 0 13px;}
/*搜索清空按键*/
.search_bar span p{display:none;float:right;width:2px;height:16px;margin:4px 12px 0 0;background:#fff;box-shadow:0 0 3px #fa2;-webkit-animation:zhuandongqk 0.5s;-webkit-transform:rotate(45deg);}
.search_bar span p:before{content:'';position:absolute;box-shadow:0 0 3px #fa2;width:16px;height:2px;left:-7px;top:7px;background:#fff;}
/*动画*/
/*时间&隐藏*/
@-webkit-keyframes shijian{
0%{opacity:0;}
100%{opacity:0;}}
/*提示&单显*/
@-webkit-keyframes danxian{
0%{opacity:0;-webkit-transform:translate(0,50px) scale(0,0);}
20%{opacity:1;-webkit-transform:translate(0,0) scale(1,1);}
40%{opacity:0.5;-webkit-transform:translate(0,0) scale(1,1);}
100%{opacity:0.5;-webkit-transform:translate(0,0) scale(1,1);}}
/*书签&左入*/
@-webkit-keyframes shuqian{
0%{opacity:1;color:transparent;-webkit-transform:translate(-200px,0) scale(0,0);}
75%{opacity:1;color:#159;background:#4af;-webkit-transform:translate(0,0) scale(1,1);}
100%{opacity:0;-webkit-transform:translate(0,0) scale(1,1);}}
/*历史&右入*/
@-webkit-keyframes lishi{
0%{opacity:1;color:transparent;-webkit-transform:translate(200px,0) scale(0,0);}
75%{opacity:1;color:#195;background:#4fa;-webkit-transform:translate(0,0) scale(1,1);}
100%{opacity:0;-webkit-transform:translate(0,0) scale(1,1);}}
/*旋转*//*未启用*/
@-webkit-keyframes xuanzhuan{
0%{-webkit-transform:rotate(0deg);}
50%{-webkit-transform:rotate(0deg);}
100%{-webkit-transform:rotate(360deg);}}
/*伸缩&建议*/
@-webkit-keyframes shensuo{
0%{opacity:0;width:25%;}
100%{opacity:1;width:100%;}}
/*转动&清空*/
@-webkit-keyframes zhuandongqk{
0%{opacity:0;-webkit-transform:rotate(0deg) scale(0,0);}
100%{opacity:1;-webkit-transform:rotate(225deg) scale(1,1);}}
/*转动&图标*/
@-webkit-keyframes zhuandongtb{
0%{opacity:0;-webkit-transform:rotate(-180deg) scale(0,0);}
100%{opacity:1;-webkit-transform:rotate(0deg) scale(1,1);}}
/*转动2*//*未启用*/
@-webkit-keyframes zhuandong2{
0%{opacity:1;-webkit-transform:rotate(0deg);}
50%{opacity:0.5;-webkit-transform:rotate(180deg);}
100%{opacity:1;-webkit-transform:rotate(360deg);}}
/*淡入*//*未启用*/
@-webkit-keyframes danru{
0%{opacity:0-webkit-transform:scale(0,0);}
100%{opacity:1-webkit-transform:scale(1,1);}}
/*淡入平移*//*未启用*/
@-webkit-keyframes danruMove{
0%{opacity:0;-webkit-transform:translate(-20px,0px);}
100%{opacity:1;-webkit-transform:translate(0,0);}}
/*淡入平移&左*//*未启用*/
@-webkit-keyframes danruMove1{
0%{opacity:0;-webkit-transform:translate(-200px,0px) scale(0,0);}
100%{opacity:1;-webkit-transform:translate(0,0) scale(1,1);}}
/*淡入平移&右*/
@-webkit-keyframes danruMove2{
0%{opacity:0;-webkit-transform:translate(200px,0px) scale(0,0);}
100%{opacity:1;-webkit-transform:translate(0,0) scale(1,1);}}
/*淡入平移&上*/
@-webkit-keyframes danruMove3{
0%{opacity:0;-webkit-transform:translate(0,200px) scale(0,0);}
100%{opacity:1;-webkit-transform:translate(0,0) scale(1,1);}}
/*淡入平移&下*/
@-webkit-keyframes danruMove4{
0%{opacity:0;-webkit-transform:translate(0,-200px) scale(0,0);}
100%{opacity:1;-webkit-transform:translate(0,0) scale(1,1);}}
/*淡入下沉&内容*/
@-webkit-keyframes danruDown{
0%{opacity:0;-webkit-transform:translate(-50px,-30px);}
100%{opacity:1;-webkit-transform:translate(0,0);}}
/*以下代码为测试状态*/
